<div class="container">
  <h1 class="assessment-results-header mt-5">Check out your top Matches!</h1>

  <div class="results-container">
    <%=render "shared/mentor_card" ,mentors: @mentors %>
  </div>


</div>
