.assessment-btn{
  width: 40% !important;
  font-size: 20px !important;
  margin-top: 50px;
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  left: 10px;

  &:disabled{
    background-color: $secondary-color;
    color: white;
  }
}

.assessment-container {
  align-items: center;
  justify-content: center;
}
