.mentor-profile {
  margin-left: 200px;
  margin-top: 120px;
  text-align: center;
}

.name {
  margin-top: 20px;
}

.skills {
  background-color: white;
  margin-top: 60px;
  border-radius: 10px;
  padding: 15px;
}
