.mentor-profile {
  margin-left: 200px;
  margin-top: 120px;
  text-align: center;
}

.skills {
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  width: 255px;
  border: 1px solid grey;
}

.calendly-inline-widget {
  min-width:320px;
  height:700px;
  margin-top: 55px;
}

.booking-with {
  margin-left: 200px;
  color: white;
}
