.mentor-profile {
  margin-left: 200px;
  margin-top: 120px;
  text-align: center;
}

// .name {
//   margin-top: 20px;
// }

.skills {
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
}

.calendly-inline-widget {
  min-width:320px;
  height:700px;
  margin-top: 55px;
}

.booking-with {
  margin-left: 200px;
}
// .booking-page {
//   font-family: 'Averia Gruesa Libre';
// }
