.chat-channels {
  border: solid $light-gray;
  padding: 50px;
  margin: auto;
  border-radius: 10px;
  color: $black;
  max-width: 50%;
  margin-bottom: 3%;
  box-shadow: 10px 5px 5px rgb(193, 191, 191);

  &:hover {
    background: $main-color;
  }
}

.channels {
  background-color: $white;
  padding: 5%;
}

.messaging {
  background-color: $white;

}

.message-header{
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
}

.message-content{
  filter: blur(2px);
  display: inline;
  white-space: nowrap;
}
