// .chat-channels {
//   margin: auto;
//   border-radius: 10px;
//   color: $black;
//   max-width: 50%;
//   margin-bottom: 3%;
//   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
//   transition: 0.2s color, 0.2s border, 0.2s background-color;
//   &:hover {
//     background: $main-color;
//   }
// }

// .channels {
//   background-color: $white;
//   padding: 5%;
// }

// .messaging {
//   background-color: $white;

// }

// .message-header{
//   text-align: center;
//   margin-top: 20px;
//   padding-top: 20px;
// }

// .message-content{
//   filter: blur(2px);
//   display: inline;
//   white-space: nowrap;
// }

// {
//   margin: 0px;
//   padding: 0px;
//   box-sizing: border-box;
// }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 1300px;
  max-width: 100%;
  height: calc(100vh - 40px);
  background: white;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06),0 2px 5px 0 rgba(0,0,0,0.06);
  display: flex;
  padding: 0px;
}

.container .leftside {
  position: relative;
  flex: 30%;
  background-color: white;
  border-right: 1px solid rgba(0,0,0,0.02);
}

.container .rightside {
  position: relative;
  flex: 70%;
  background: #e5ddd5;
}

.container .rightside::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(pattern.png);
  opacity: 1%;
}

.header {
  position: relative;
  width: 100%;
  height: 60px;
  background: #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.userimg {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav_icons {
  display: flex;
}

.nav_icons li {
  display: flex;
  cursor: pointer;
  list-style: none;
  color: #51585c;
  font-size: 1.5em;
  margin-left: 22px;
}

.search_chat {
  position: relative;
  width: 100%;
  height: 50px;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.search_chat div {
  width: 100%;
}

.search_chat div input {
  width: 100%;
  outline: none;
  border: none;
  background: #fff;
  padding: 6px;
  height: 38px;
  border-radius: 30px;
  font-size: 14px;
  padding-left: 40px;
}

.search_chat div ion-icon {
  position: absolute;
  left: 30px;
  top: 14px;
  font-size: 1.2em;
}

.search_chat div input::placeholder {
  color: #bbb;
}

.chatlist {
  position: relative;
  height: calc(100% - 110px);
  overflow-y: auto;
}


.chatlist .block {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.06);
  cursor: pointer;

}

.chatlist .block .imgbx {
  position: relative;
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
}

.chatlist .block .details {
  position: relative;
  width: 100%;
}

.chatlist .block .details .listhead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.chatlist .block .details .listhead h4 {
  font-size: 1.1em;
  font-weight: 600;
  color: #111;
}

.chatlist .block .details .listhead time {

}
