.passwordcontainer{
  justify-content: center;
  margin: 70px;
  margin-top: 70px;
  padding: 0px;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
}

.passwordsignin{
  justify-content: center;
  color: white;
  margin-bottom: 25px;
  margin-top: 45px;
}
