.header {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 32vh;
}

.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainh6 {
  font-size: 32px;
  color: #FFFFFF;
}

.mainh1 {
  font-size: 120px;
  font-weight: bold;
  margin-top: 30px;
  color: #FFFFFF;
}

.banner-background{
  position: fixed;
  background-color: $main-color;
  width: 100vw;
  height: 430px;
  top: 0;
  z-index: 1;

}

.subheaders {
  text-align: center;
}

.row-specialty {
  display: flex;
  justify-content: center;
}

.specialties {
  text-decoration: none;
  background-color: #57BE8D;
  color: white;
  border-radius: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 22px;
  margin: 20px;
  &:hover{
    border: solid $secondary-color;
    background-color: white;
    color: $secondary-color;
  }
}

.search {
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
  width: 1050px;
  position: relative;
}

.search .form-control {
  height: 55px;
  background-color: white;
  border-radius: 8px;
}

.btn-primary {
  background-color: #57BE8D;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 15px;
  height: 55px;
  border: none;
  margin-left: 25px;
  border-radius: 8px;
  font-size: 32px;
}

a:hover {
  color: black;
}

.browse {
  margin-top: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #3C3C3C;
}

.filter-container {
  justify-content: center;
  position: static;
  top: 50%;
  margin-top: 30px;
}

p {
  margin-top: 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0px 50px;
  background-color: white;
}

.footer-two {
  display: flex;
  font-size: 16px;
}

// Media queries can help with responsive design
@media(max-width: 600px){
  .mainh1 {
    font-size:  55px;
    text-align: center;
  }

  .mainh6 {
    font-size: 15px;
    text-align: center;
  }

  .filter-container{
    display: flex;
  }

  .specialties {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 10px;
    margin: 10px;
    flex-direction: column;
  }
}
