.header {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.mainh6 {
  font-family: 'Averia Gruesa Libre';
  font-size: 32px;
  margin-top: 10px;
}

.mainh1 {
  font-size: 120px;
  font-weight: bold;
  font-family: 'Lato';
}

body {
  background-image: image-url("wallpaper03.jpg");
}

.subheaders {
  text-align: center;
}

.row-specialty {
  display: flex;
  justify-content: center;
}

.specialties {
  text-decoration: none;
  background-color: #B1D7B4;
  color: white;
  border-radius: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Averia Gruesa Libre';
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 22px;
  margin: 20px;
}

.search {
  border-radius: 20px;
  font-family: 'Averia Gruesa Libre';
  font-size: 20px;
  text-align: center;
  margin: 50px;
}

.search .form-control {
  height: 65px;
  background-color: #D9D9D9;
  border-radius: 30px;
  margin-bottom: 20px;
}
.loop {
  background-color: #B1D7B4;
  border-radius: 50%;
  height: max-content;
  padding: 5px;
  font-size: 15px;
  position:relative;
  right: 100px;
}

.btn-primary {
  background-color: #B1D7B4;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
  color: white;
  border-style: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 36px;
}

a:hover {
  color: black;
}

.btn-primary:hover {
  background-color:#B1D7B4;
  color: black;
}

.filter-container {
  justify-content: center;
  position: static;
  top: 50%;
}
