.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
}

h6 {
  font-family: 'Averia Gruesa Libre', cursive;
  font-size: 32px;
  margin-top: 10px;
}

h1 {
  font-size: 120px;
  font-weight: bold;
}
body {
  background-image: image-url("wallpaper03.jpg");
}

.subheaders {
  text-align: center;
  width: 1000px;
  margin: 100px;
}

a {
  text-decoration: none;
  background-color: #B1D7B4;
  color: white;
  border-radius: 30px;
  padding: 20px;
  font-family: 'Averia Gruesa Libre', cursive;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.search {
  border-radius: 20px;
  font-family: 'Averia Gruesa Libre', cursive;
  font-size: 20px;
  text-align: center;
  margin: 50px;
  // still working on centering this div
}
