.entirecontainer{
  justify-content: center;
  text-align: center;
  width: 500;
  height: 500;
}

.boxaroundh2{
  margin-bottom: 500;
  }

.titlesignin{
  justify-content: center;
  color: white;
  margin-bottom: 25px;
  margin-top: 10px;
}

.logincontainer{
  justify-content: center;
  margin: 70px;
  margin-top: 30px;
  padding: 0px;
  border-radius: 40px;
  padding: 20px;
  background-color: white;
  }

.text-input-boxes{
  justify-content: center;
  margin: 5px;
}

.form-actions-login input {
  justify-content: center;
  background-color:#57BE8D;
  color: white;
  width: 420px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  height: 50px;
  border-radius: 999px;
  font-size: 19px;
  border: 2px solid #57BE8D;
  transition: 0.2s color, 0.2s border, 0.2s background-color;
  &:hover{
    border: 2px solid $secondary-color;
    background-color: white;
    color: $secondary-color;
  }
}

.email, .password{
  border:none;
  background-color: white;
  border-bottom: 1px solid black
}

.emailfieldbox{
  text-align: left;
  justify-content: center;
  margin-bottom: 1px;
  padding-bottom: 0px;
  background-color: white;
  border-radius: 60%;
}

.passwordfieldbox{
  text-align: left;
  margin-top: 1px;
  padding-top: 0px;
  background-color: white;
  border-radius: 60%;
}

.inputboxes{
  justify-content: center;
  padding: 10px;
  padding-top: 0px;
  height: 290px;
  margin-top: -15px;
}

.beigecontainerbox{
  justify-content: center;
  margin: 5px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.signup_button, .forgot_password{
  grid-template-areas: 50 fr;
  text-align: center;
  color: black;
}

.gridcontainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}
