.container-main{
  margin-left: 50px;
}

.profile-picture{
  padding: 12%;
  text-align: center;
  align-items: center;
  margin-bottom: 15%;

}
.about-me {
  max-width: 400px;
  position: relative;
  left: 300px;
  top: 35px;

  & .quote {
    font-style: italic;
    font-size: 18px;
  }

  & .icons {
    font-size: 32px;
  }
}
.skills-container{
  padding-left: 20px;
  padding-right: 120px;
  border: 1px;
  background-color: #FCFDF7;
  max-width: 455px;
  position: relative;
  top: 63px;
  padding-bottom: 20%;

  & p {
    text-align: center;
    font-size: 35px;
  }

  & .skill-text{
    font-size: 18px;
    margin-left: 20px;

  }
}

// we got an error arround here, could it be the #container2 that should be .container2?
#container2{
  max-width: 400px;
  padding: 20px;
}

.stars {
  margin-left: 5px;
}

.profile-container{
  position: relative;
  top: 100px;
  text-align: center;
}

.profile-body{
  margin-left: 20%;
  margin-top: 60px;

  & .work-exp{
    position: relative;
    right: 85px;
    font-size: 20px;
  }

  & .line{
    position: relative;
    right: 150px;

  }
}

.left-body{
  border: 1px;
  background-color: #FCFDF8;
  border-radius: 40px;
  padding: 1%;
  margin-right: 40px;
  margin-bottom: 60px;
}

.right-body{
  border: 1px;
  background-color: #FCFDF8;
  border-radius: 40px;
  padding: 1%;
  margin-bottom: 60px;
  & ul{
    list-style: none;
    text-align: left;
  }
}

.profile-btn{
  border: 1px;
  background-color:rgba(22, 22, 29, 0.79);
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  // color: #a1f2ac;
  color: $white;
  font-weight: 600px;
  font-size: 30px;
  height: 50px;
  margin: 1%;
  &:hover{
    background-color:#FCFDF8;
    color: $black;
  }
}

#chat-btn {
  margin-right: 20px;
}
.profile-info{
  margin-left: 60px;
  margin-top: 40px;

  & .title {
    font-size: 25px;

  }
}

.profile-info h1 {
  font-size: 48px;

}

.education {
  font-weight: normal;
}
