.container-main{
  padding: 20px;
  border: 1px solid rgb(230, 230, 240);
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 16px rgba(0 ,0 ,0, 0.15);
  border-radius: 8px;
}

.profile-picture{
  padding: 12%;
  text-align: center;
  align-items: center;
  margin-bottom: 15%;

}
.about-me {
  max-width: 400px;
  position: relative;
  border: 1px solid rgb(230, 230, 240);
  background-color: rgba(230, 230, 240, 0.5) ;
  border-radius: 8px;
  padding: 8px;

  & .quote {
    font-size: 16px;
    color: #555;
  }

  & .icons {
    font-size: 32px;
  }
}
.skills-container{

 padding-right: 161px;
 border: 1px;
 background-color: $light-gray;
 max-width: 455px;
 position: relative;
 top: 50px;
 padding-bottom: 10%;
 margin-left: 1%;
 border-radius: 10px;
 color: $black;
 text-align: center;
 padding-bottom: 10%;
 height: auto;

  & p {
    text-align: center;
    font-size: 35px;
  }

  & .skill-text{
    font-size: px;
    margin-left: 20px;
    text-align: center;

  }
}

// we got an error arround here, could it be the #container2 that should be .container2?
#container2{
  max-width: 400px;
  padding: 20px;
}

.stars {
  margin-left: 5px;
  color: #57BE8D;
  font-size: 18px;
}

.profile-container{
  position: relative;
  top: 100px;
  text-align: center;

}

.profile-body{
  // margin-left: 18%;
  margin-top: 50px;
  padding-left: 18%;


  & .work-exp{
    position: relative;
    right: 85px;
    font-size: 20px;
    width: 670px;

  }

  & .line{
    position: relative;
    right: 150px;
    color: $secondary-color;
    font-weight: bolder;


  }
}

.top-line{
  width: 50%;
  border: solid black;
  background-color: black;
  margin-bottom: 0;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-body{
  border: 1px;
  background-color: #FCFDF8;
  border-radius: 40px;
  padding: 1%;
  margin-right: 40px;
  margin-bottom: 60px;
}

.right-body{
  border: 1px;
  background-color: #FCFDF8;
  border-radius: 40px;
  padding: 1%;
  margin-bottom: 60px;
  & ul{
    list-style: none;
    text-align: left;
  }
}

.profile-btn{
  background-color:$secondary-color;
  border-radius: 5px;
  padding: 4px 24px;
  color: $white;
  font-size: 30px;
  border: 2px solid #57BE8D;
  transition: 0.2s color, 0.2s border, 0.2s background-color;
  &:hover{
    border: 2px solid $secondary-color;
    background-color: white;
    color: $secondary-color;
  }
}

#chat-btn {
  margin-right: 20px;
}
.profile-info{
  margin-left: 60px;

  & .title {
    font-size: 25px;

  }
}

.profile-info h1 {
  font-size: 48px;
  font-weight: bold;
}

.education {
  font-weight: normal;
}


.skill-list{
  font-size: 25px;
  list-style: none;
  text-align: left;
}

.skill-header{
  position: relative;
  left: 70px;

}

.partial-container{
  max-width: 1100px;
  margin: 0 auto;
}

.date-experience{
  position: absolute;
  right: 65px;
}
