.technology-card{
  padding: 12px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.technology-card-container{
  margin-left: 20%;
  margin-top: 40px;
}

.assesment-title{
  font-family: 'Averia Gruesa Libre';
  text-align: center;
  color: white;
}

.btn-assessment{
  margin-top: 35px;
  border-radius: 10px;
  font-family: 'Averia Gruesa Libre';
}
