.technology-card{
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    margin: 0;
  }
}

.technology-card-container{
  margin-left: 20%;
  margin-top: 40px;
}

.assesment-title{
  text-align: center;
  color: white;
}

.btn-assessment{
  margin-top: 35px;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
}

.assessment-frame {
  position: relative;
  right: 50px;
}
