<div class="row">
  <div class="col col-2 mentor-profile">
          <%=cl_image_tag(@specialty.user.photo.key,
        height: 255,
        width: 255,
        crop: :fill,
        aspect_ratio: "4:3",
        radius: "max",
        )%>
    <h1 class="name"><%= @specialty.user.first_name  %></h1>
    <h5 class="position"><%= @specialty.user.title.capitalize  %></h4>
    <div class="skills" style="margin-top: 60px; border-radius: 10px; padding:15px; background-color: white;">
      <h5 class="skill-chosen">Skill chosen:</h5>
      <h2 class="skill"><%= @specialty.technology.name.capitalize  %></h2>
    </div>
  </div>
  <div class="col col-8 calendly">
    <div class="calendly-inline-widget" data-url="https://calendly.com/d/2jw-mhc-x6w/30min?hide_gdpr_banner=1" style="min-width:320px;height:700px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
  </div>
</div>
