<div class = "container text-center">
  <h1 class = "title1">Discover a Cybersecurity mentor!</h1>
  <p class = "speciality-text">Having a mentor teach you about cybersecurity can provide you with practical knowledge, industry insights, and best practices
  to navigate the complex landscape of online security threats. Their guidance can empower you to develop a strong cybersecurity mindset, enhance your digital
  defenses, and protect yourself and your organization from potential cyberattacks.</p>

</div>
