<div class = "container text-center">
  <h1 class = "title1">Discover a <%=params[:query].titleize%> mentor!</h1>

  <p class = "speciality-text"><%=@statement%></p>
  <%=render "shared/mentor_card" ,
    mentors: @mentors %>
</div>
