<div class = "container text-center">
  <h1 class = "title1">Discover a Python mentor!</h1>
  <p class = "speciality-text">Are you ready to embark on an exciting coding journey? Look no further than Python! Whether you're a seasoned programmer or just starting out,
Python is the ultimate language to empower you and have mentor guide you.</p>

</div>
