<div class = "container text-center">
  <h1 class = "title1">Let a mentor review your resume!</h1>
  <p class = "speciality-text">Having a mentor review your resume can offer valuable insights and expert guidance to enhance its effectiveness and presentation.
  Their feedback can help you highlight your strengths, refine your content, and make your resume stand out to potential employers.</p>

</div>
