<div class="page">
  <div class="header">

    <div class="row">
      <div class="col title">
        <h1>TechTrek</h1>
      </div>
    </div>

    <div class="row">
      <div class="col title">
        <h6>Journey through Tech without a sweat </h6>
      </div>
    </div>
  </div>

  <div class="row subheaders">

    <div class="col">
      <%= link_to("Javascript", javascript_path)  %>
    </div>

    <div class="col">
      <h5>Cyber Security</h5>
    </div>

    <div class="col">
      <h5>Python</h5>
    </div>

    <div class="col">
      <h5>Resume Review</h5>
    </div>

    <div class="col">
      <h5>Salary Review</h5>
    </div>
  </div>

</div>
