<div class="page-primary-colour">
  <div class="row">
    <div class="col">
      <h4> 💻 <strong>TechTrek</strong></h4>
    </div>

    <div class="col home-page-actions">
        <h5><strong>Assessment</strong></h5>
    </div>

    <div class="col home-page-actions">
        <h5><strong>My Profile</strong></h5>
    </div>

    <div class="col home-page-actions">
        <h5><strong>Login</strong></h5>
    </div>
  </div>
</div>

<div class="page-secondary-colour">

  <div>
  </div>

</div>
