<div class="page">
  <div class="row header">
    <div class="row">
      <div class="col title">
        <h1>TechTrek</h1>
      </div>
    </div>

    <div class="row">
      <div class="col title">
        <h6>Journey through Tech without a sweat </h6>
      </div>
    </div>
  </div>
</div>
<%# test %>
