.technology-card-container {
  display: flex;
  flex-wrap: wrap;
}

.technology-card {
  width: 90px;
  height: 120px;
  border: 1px solid black;
  margin: 24px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: $secondary-color;
  i {
    font-size: 30px;
  }
}

.checkbox {
  position: relative;
  left: 45%;
  display: inline;
}
