.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  color: black;
  font-weight: bolder;
  // font-family - find font for navbar ***TODO***
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
