.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  font-weight: bolder;
  background-color: $main-color;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar {
  height:36px ;
}

.custom-navbar .navbar-nav .nav-link {
  color: $white;
  margin-left: 5px;
  margin-right: 15px;
  &:hover{
    color: $secondary-color;
  }
}
