.chatroom {
  background: white;
  margin-top: 50px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border-radius: 20px;
  max-width: 50%;
  padding: 20px;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    max-height: 60%;
    padding: 1rem;
    overflow-y: auto;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .messager {
    display: flex;
    justify-content: center;
  }
}
