.chatroom {
  background: white;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border-radius: 20px;
  max-width: 60%;
  padding: 20px;
  box-shadow: 1px 1px 3px grey;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    max-height: 60%;
    padding: 1rem;
    overflow-y: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .form-control {
    padding-right: 0%;
  }

  .messager {
    display: flex;
    justify-content: center;
  }

  .leftside{
    position: relative;
    flex: 70%;
  }

  .rightside{
    position: relative;
    flex: 30%;
    padding-left: 0px;
  }

}
