.main {
  // background-image: image-url("wallpaper07.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100%;
}

.profile-page{
  background-image: none;
  background-color: white;
}

.user-page{
  background-image: none;
  background-color: white;
}
