// .main {
//   background-image: image-url("wallpaper07.jpg");
// }

.profile-page{
  background-image: none;
  background-color: white;
}

.user-page{
  background-image: none;
  background-color: white;
}
