<div class="container">

  <%# Header %>
  <div class="leftside">
    <div class="header">
      <div class="userimg">

        <%# This will need to be changed to our user's photo %>
        <img src="profilePic.png" class="cover">
      </div>
      <ul class="nav_icons">
        <li><ion-icon name="scan-circle-outline"></ion-icon></li>
        <li><ion-icon name="chatbox"></ion-icon></li>
        <li><ion-icon name="ellipsis-vertical"></ion-icon></li>
      </ul>
    </div>
    <%# Search %>
    <div class="search_chat">
      <div>
        <input type="text" placeholder="Search or start new chat?">
        <ion-icon name="search-outline"></ion-icon>
      </div>
    </div>

    <%# chat list %>
    <div class="chatlist">
      <div class="block">
        <div class="imgbx">
          <img src="pic.png" class="cover">
        </div>
        <div class="details">
          <div class="listHead">
            <h4>Testing</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="rightside">
  </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
