<%# Most comments are minor fixes. %>

<div class="test">
  <div class="chatcontainer">

    <%# Header %>
    <div class="chatleftside">
      <div class="chatheader">
        <div class="chatuserimg">

          <%# This will need to be changed to the user who is logged in's photo %>
          <img src="profilePic.png" class="chatcover">
        </div>
        <ul class="chatnav_icons">
          <li><ion-icon name="scan-circle-outline"></ion-icon></li>
          <li><ion-icon name="chatbox"></ion-icon></li>
          <li><ion-icon name="ellipsis-vertical"></ion-icon></li>
        </ul>
      </div>
      <%# Search %>
      <div class="chatsearch_chat">
        <div>
          <input type="text" placeholder="Search or start new chat?">
          <ion-icon name="search-outline"></ion-icon>
        </div>
      </div>

      <%# chat list %>
      <div class="chatchatlist">
        <div class="chatblock">
          <div class="chatimgbx">
            <%# This will need to be changed with our users info %>
            <img src="pic.png" class="chatcover">
          </div>
          <div class="chatdetails">
            <div class="chatlistHead">
              <%# This will need to be changed with our users info %>
              <h4>Testing 1</h4>
              <%# This will need to be changed with accurate time instead of hard coded %>
              <p class="chattime">11:14</p>
            </div>
            <div class="chatmessage_p">
              <%# This may need to be replaced with the user's actual message %>
              <p class="chatmessage">Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
        </div>

                <div class="chatblock">
          <div class="chatimgbx">
            <%# This will need to be changed with our users info %>
            <img src="pic.png" class="chatcover">
          </div>
          <div class="chatdetails">
            <div class="chatlistHead">
              <%# This will need to be changed with our users info %>
              <h4>Testing 2</h4>
              <%# This will need to be changed with accurate time instead of hard coded %>
              <p class="chattime">10:52</p>
            </div>
            <div class="chatmessage_p">
              <%# This may need to be replaced with the user's actual message %>
              <p class="chatmessage">Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
        </div>
                <div class="chatblock">
          <div class="chatimgbx">
            <%# This will need to be changed with our users info %>
            <img src="pic.png" class="chatcover">
          </div>
          <div class="chatdetails">
            <div class="chatlistHead">
              <%# This will need to be changed with our users info %>
              <h4>Testing 3</h4>
              <%# This will need to be changed with accurate time instead of hard coded %>
              <p class="chattime">09:15</p>
            </div>
            <div class="chatmessage_p">
              <%# This may need to be replaced with the user's actual message %>
              <p class="chatmessage">Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="chatrightside">
    </div>
  </div>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</div>
