<div class="container">
  <div class="leftside">
    <div class="header">
      <div class="userimg">

        <%# This will need to be changed to our user's photo %>
        <img src="profilePic.png" class="cover">
      </div>
    </div>
  </div>
  <div class="rightside"></div>
</div>
