<%# Most comments are minor fixes. %>

<div class="test">
  <div class="chatcontainer">

    <%# Header %>
    <div class="chatleftside">
      <%# chat list %>
      <div class="chatchatlist">
        <div class="chatblock">
          <div class="chatimgbx">
            <%# This will need to be changed with our users info %>
            <img src="pic.png" class="chatcover">
          </div>
          <div class="chatdetails">
            <div class="chatlistHead">
              <%# This will need to be changed with our users info %>
              <h4>Professor Snape</h4>
              <%# This will need to be changed with accurate time instead of hard coded %>
              <p class="chattime">11:14</p>
            </div>
            <div class="chatmessage_p">
              <%# This may need to be replaced with the user's actual message %>
              <p class="chatmessage">Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
        </div>

        <div class="chatblock">
          <%@channels.each do |channel|%>
            <div class="chatdetails">
              <div class="chatimgbx">
              <%= link_to(chat_channel_path(channel), class: "chat-channels") do %>
                <%userphoto_attribute = if channel.user1_id == current_user.id%>
                  <%userphoto = :user2_id%>
                <%else%>
                  <%userphoto = :user1_id%>
                <%end%>
                <% userphoto = channel.send(userphoto_attribute) %>
                <%= cl_image_tag(User.find(userphoto).photo.key,
                                  height: 45,
                                  width: 45,
                                  crop: :scale,
                                  aspect_ratio: "4:3",
                                  radius: "50") %>
                <%if Message.where(chat_channel_id:channel).exists?%>
                <%end%>
                </div>
                <div class="chatdetails">
                <div class="chatlistHead">
                  <h6><%= User.find(userphoto).first_name + " " + User.find(userphoto).last_name %></h4>
                </div>
                <div class="chatmessage_p">
                  <p class="chatmessage">Lorem ipsum, dolor sit amet consectetur adipisicing elit.?</p>
                </div>
              <% end %>
            </div>
          <%end%>
        </div>

      </div>
    </div>

    <div class="chatrightside">
      <div class="chatheader">
        <div class="chatimgText">
          <h4>Professor Snape<br></h4>
        </div>
      </div>

      <%# chatbox %>
      <div class="chatchatBox">
        <div class="chatmessage chatmy_message"></div>
      </div>
    </div>
  </div>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</div>
